<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.0.0" targetFramework="net46" />
  <package id="NUnit" version="3.4.1" targetFramework="net46" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net46" />
  <package id="SpecFlow.Xamarin.Forms" version="0.1" targetFramework="net46" />
  <package id="SpecFlow.Xamarin.Forms.IViewModel" version="0.1" targetFramework="net46" />
  <package id="Xamarin.Forms" version="2.3.1.114" targetFramework="net46" />
</packages>