<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="NUnit" version="3.5.0" targetFramework="net46" />
  <package id="SpecFlow" version="2.2.1" targetFramework="net46" />
  <package id="SpecFlow.Xamarin.Forms" version="0.1" targetFramework="net46" />
  <package id="SpecFlow.Xamarin.Forms.IViewModel" version="0.1" targetFramework="net46" />
  <package id="Xamarin.Forms" version="3.1.0.637273" targetFramework="net471" />
</packages>